#footer-title {
    align-self: center;
    color: #f9f8fa;
}


#text {
    color: #e5e7eb;
    font-size: 18px;
}



.quote-container {
    background-color: gray;
    min-height: 3em;
}

/* FINISHED CODE */
.footer {
    display: flex;
    background: #1f2937;
    min-height: 10vh;
    min-width: 100vw;
    justify-content: center;
    align-items: flex-end;
}
